  .table-center {
    text-align: center;
    font-size: 20px;
  }
  
  .red {
    background-color: crimson;
    color: white
  }
  
  .blue {
    background-color: cornflowerblue;
    color: white;
  }
  
  .redWin {
    background-color: crimson;
    color: yellow;
    font-weight: bold;
  }
  
  .blueWin {
    background-color: cornflowerblue;
    color: yellow;
    font-weight: bold;
  }
  
  .win {
    background-color: forestgreen;
    color: yellow;
  }
  
  .loss {
    background-color: black;
    color: white;
  }
  
  .tie {
    background-color: yellow;
    color: black;
  }
  
  .table td {
    padding: 0;
  }
  
  table.table td {
    padding: 5px 5px 5px 5px;
  }
  
  table.table th {
    padding: 0 5px 0 5px;
  }
  
  .body {
    overflow: hidden;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  .nav-item {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    margin: 0 10px 0 10px;
  }
  
  .nav-pills .nav-link.active {
    border-radius: 9px;
    background-color: orange;
  }
  
  .orange-btn {
    background-color: #e65100;
    color: white;
  }
  
  .orange-btn.active {
    background-color: orange;
    color: white;
    font-weight: bolder;
  }
  
  .first-button {
    border-radius: 10px 0 0 10px;
  }
  
  .last-button {
    border-radius: 0 10px 10px 0;
  }
  
  .custom-control-label::before,
  .custom-control-label::after {
    width: 20px;
    height: 20px
  }